body {
  margin: 0;
  background-color: rgb(226, 240, 241);
}

.title {
  font-family: cursive;
  font-size: 40px;
  border: 2px solid black;
  background-color: rgb(247, 244, 244);
}

.ticker_block {
  display: inline-block;
  margin: 20px;
  width: 400px;
  border: 1px solid black;
  border-radius: 25px;
  background-color: whitesmoke;
  transition: transform 0.5s;
  font-size: 20px;
}

.ticker_block:hover {
  transform: scale(110%);
  cursor: pointer;
  background-color: rgb(78, 109, 182);
}

.ticker_block.green_color {
  background-color: rgb(59, 123, 59);
}

.ticker_block.red_color {
  background-color: rgb(147, 0, 0);
}

.ticker__change {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  gap: 40px;
  font-size: 30px;
}

.menu__list {
  color: black;
  background-color: rgb(243, 235, 235);
  padding: 10px;
  border-radius: 25px;
  transition: all 0.5s;
}

.menu__list:hover {
  background-color: rgb(130, 130, 130);
  cursor: pointer;
}

.menu__list--crypto {
  background: rgb(78, 109, 182);
}