@import '../../utils/variables.css';

.ticker_block {
  display: inline-block;
  margin: 20px;
  width: 500px;
  border: 1px solid var(--black-color);
  border-radius: 25px;
  background-color: var(--white-color);
  transition: transform 0.5s;
  font-size: 20px;
}

.ticker_block:hover {
  transform: scale(110%);
  cursor: pointer;
}

.ticker_block.green_color {
  background-color: var(--green-color);
}

.ticker_block.red_color {
  background-color: var(--red-color);
}

.ticker__change {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}
