@import '../../utils/variables.css';

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  gap: 40px;
  font-size: 30px;
}

.menu__list {
  color: black;
  background-color: var(--white-color);
  padding: 10px;
  border-radius: 25px;
  transition: all 0.5s;
}

.menu__list:hover {
  background-color: var(--gray-color);
  cursor: pointer;
}

.menu__list--crypto {
  background: var(--blue-color);
}