:root {
  --blue-color: rgb(78, 109, 182);
  --green-color: rgb(59, 123, 59);
  --red-color: rgb(147, 0, 0);
  --white-color: whitesmoke;
  --black-color: black;
  --gray-color: rgb(130, 130, 130);
}
